*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(greenhome.jpg);
    background-size: cover
}

@font-face {
    font-family: headerFont;
    src: url(shlop.otf);
}

.title{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 100vh;
    background-image: url(homebg.jpg);
    background-size: cover;
    background-position: center;
}

.buttons{
    margin-right:auto;
    margin-left:auto;
}

button{
    background-color: green;
    font-family: headerFont;
    font-size: 20px;
    padding: 30px 50px;
    margin: 20px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    color: black;
}

button:hover{
    background-color: black;
    color: green;
}

h1{
    font-family: headerFont;
    font-size: 120px;
    text-align: center;
    color: green;
}

@media screen and (max-width: 500px){
    .title{
        flex-wrap: no-wrap;
        background-image: none;
        font-size: 50%;
    }

    body{
        background-image: url(homebg.jpg);
        background-size: cover;
        background-position: center;
    }
}

@media screen and (orientation: landscape) and (max-width: 700px){
    .title{
        flex-wrap: no-wrap;
        background-image: none;
        font-size: 50%;
    }
    
    body{
        background-image: url(homebg.jpg);
        background-size: cover;
        background-position: center;
    } 
}
