*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: headerFont;
    src: url(shlop.otf);
}

.header{
    display: flex;
    font-family: headerFont;
    font-size: 72px;
    color: green;
    background-color: black;
    padding: 60px;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    min-width: 100%;
}

.header img{
    height: 200px;
}

.main{
    display: flex;
    flex-wrap: nowrap;
    min-height: 100vh;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 20%;
    font-size: 24px;
    background-color: black;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.navbar a{
    display: block;
    color:white;
    padding: 60px;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.navbar a:hover{
    background-color:gray;
    color: black;
}


.food{
    flex: 80%;
    background-color: green;
    padding: 20px;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.category{
    text-align: center;
}

.food > div{
    margin: 20px 10px;
    font-size: 24px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.footer{
    display: flex;
    flex-direction: row;
    height: fit-content;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    min-width: 100%;
}

.credits{
    position: absolute;
    right: 0;
    text-align: right;
    margin: 10px;
}

.credits p{
    text-decoration: underline;
}

.credits ul{
    list-style-type: none;
}

.hours{
    text-align: left;
    margin: 10px;
}

.hours p{
    text-decoration: underline;
}

.info{
    margin: 20px;
    font-size: 1.5vw;
}

